<div class="p-2 sm:p-4 md:p-6 lg:p-10 h-[calc(100vh-75px)] ">
    <div class="w-full flex flex-col lg:flex-row h-full space-y-2 sm:space-y-4 lg:space-y-0 lg:space-x-4">
        <!-- Left long box -->
        <div class="relative w-full lg:w-1/2 h-1/2 lg:h-full flex items-center justify-center overflow-hidden">
            <img src="assets/hac-5.webp" alt="Resim" class="w-full h-full object-cover"> 
            <div class="absolute bottom-2 sm:bottom-4 left-2 sm:left-4 text-left text-white">
                <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold text-white drop-shadow-lg">Başlık</h2>
                <p class="text-sm sm:text-base lg:text-lg text-white drop-shadow-lg">Resmin üzerine yazılmış metin.</p>
            </div>
        </div>
        <div class="w-full lg:w-1/2 h-1/2 lg:h-full flex flex-col space-y-2 sm:space-y-4">
            <!-- Top box -->
            <div class="relative h-1/2 w-full flex items-center justify-center overflow-hidden">
                <img src="assets/hac-4.webp" alt="" class="w-full h-full object-cover">
                <div class="absolute bottom-2 sm:bottom-4 left-2 sm:left-4 text-left text-white">
                    <h2 class="text-xl sm:text-2xl font-bold text-white drop-shadow-lg">Üst Kutu Başlığı</h2>
                    <p class="text-sm sm:text-base lg:text-lg text-white drop-shadow-lg">Üst kutunun üzerine yazılmış metin.</p>
                </div>
            </div>
            <!-- Bottom boxes container -->
            <div class="flex flex-row h-1/2 space-x-2 sm:space-x-4">
                <!-- Bottom left box -->
                <div class="relative w-1/2 h-full bg-green-500 flex items-center justify-center text-white overflow-hidden">
                    <img src="assets/hac-4.webp" alt="" class="w-full h-full object-cover">
                    <div class="absolute bottom-2 sm:bottom-4 left-2 sm:left-4 text-left">
                        <h2 class="text-lg sm:text-xl lg:text-2xl font-bold text-white">Alt Sol Kutu Başlığı</h2>
                        <p class="text-xs sm:text-sm lg:text-base text-white">Alt sol kutunun üzerine yazılmış metin.</p>
                    </div>
                </div>
                <!-- Bottom right box -->
                <div class="relative w-1/2 h-full bg-yellow-500 flex items-center justify-center text-white overflow-hidden">
                    <img src="assets/hac-4.webp" alt="" class="w-full h-full object-cover">
                    <div class="absolute bottom-2 sm:bottom-4 left-2 sm:left-4 text-left">
                        <h2 class="text-lg sm:text-xl lg:text-2xl font-bold text-white">Alt Sağ Kutu Başlığı</h2>
                        <p class="text-xs sm:text-sm lg:text-base text-white">Alt sağ kutunun üzerine yazılmış metin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>