<nav class=" py-4 mt-2 ml-3">
    <div class="container mx-auto">
        <ul class="flex justify-center space-x-10">
            <li class="relative group">
                <a routerLink="/Hac" class="text-2xl font-bold text-white hover:text-yellow-400 transition-colors duration-300 relative">
                    Hac Seferleri
                    <span class="absolute inset-x-0 bottom-0 h-1 bg-yellow-400 scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
                </a>
            </li>
            <li class="relative group">
                <a routerLink="/Umre" class="text-2xl font-bold text-white hover:text-yellow-400 transition-colors duration-300 relative">
                    Umre Seferleri
                    <span class="absolute inset-x-0 bottom-0 h-1 bg-yellow-400 scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
                </a>
            </li>
            <li class="relative group">
                <a routerLink="/kudus" class="text-2xl font-bold text-white hover:text-yellow-400 transition-colors duration-300 relative">
                    Kudüs Seferleri
                    <span class="absolute inset-x-0 bottom-0 h-1 bg-yellow-400 scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
