.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d4af37; /* Altın sarısı */
    text-align: center;
}

.content-container h1 {
    font-size: 2.5em;
    font-weight: bold;
}
